/*Cabeçalho*/
.background_lila{
  background-image: url('imagens/imagem_fundo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  height: 100vh;
}

.menu ul{
  display: flex;
  justify-content: end;
  gap: 1rem;
  padding: 1rem;
  margin-right: 5%;  
}

.menu a {
  color: white;
  font-variant: small-caps;
  font-size: 1.5rem;

  transition: all 0.3s ease-in-out;
}

.menu a:hover {
  background-color: var(--cor3);
  border-radius: 3px;
  padding: 2%;
}

.nomes{
  display: flex;
  gap: 0.5em;
}

.nome_lila1 {
  color: var(--cor3);
  font-variant: small-caps;
  font-size: 2.5em;
  letter-spacing: 0.1em;
  margin-top: 35vh;
  margin-left: 10%;

}

.nome_lila2{
  color: var(--cor3);
  font-variant: small-caps;
  font-size: 2.5em;
  letter-spacing: 0.1em;
  margin-top: 35vh;

}

.developer{
  display: flex;
  margin-left: 10.2%;
  color: white;
  font-variant: small-caps;
  font-size: 1.5em;
  letter-spacing: 0.1em;

  overflow: hidden;
  white-space: nowrap;
  animation: escrita 6s steps(40, end);
  animation-iteration-count: infinite;
}  

@keyframes escrita {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}

/*iniciando o main*/

.sobre {
  display: flex;
  align-items: center;
  background-color: var(--cor4);
  

  width: 100%;
  height: 80.5vh;
  }

.sobre_img img{
  background-color: var(--cor5);
  width: 80%;
  margin-left: 5em;
  margin-top: 0.4em;
  border-radius: 5em;

} 

.sobre h1{
  margin-left: 12em;
  font-variant: small-caps;
  font-size: 2.5rem;
}

.sobre p{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 9em;
  margin-top: 2em;
  font-variant: small-caps;
  font-size: 1.2em;
  
}

